@import "reset";
@import "fonts";
@import "layout";
@import "sections";
@import "typeplate";
@import "print";

hr {
  margin: 17px 0 24px;
  height: 0;
  clear: both;
  border: solid #ddd;
  border-width: 1px 0 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
}
